* {
  color : #43464f;  
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
ul {
    list-style: none;
}
li {
    display: inline-block;
    margin-right: 15px;
}

label {
    cursor: pointer;
}


.resposta {
    color : #63666f;  
}


  