* {
  color : #43464f;  
  font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
}
li {
    display: inline-block;
    margin-right: 15px;
}
input[type="radio"] {
    visibility:hidden;
}
label {
    cursor: pointer;
}
input:checked + label {
    background: red;
}

.resposta {
    color : #63666f;  
}